@use "variables" as *;
@use 'container';
@use 'manu';
@use 'footer';

 
 

 *{
     background-image: url(https://png.pngtree.com/background/20230410/original/pngtree-moon-mountain-night-background-picture-image_2384471.jpg);
    font-family: $main-font;
    margin: 5px;
     
     
     
 }

 

  